/* RESET */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
input{
   border: none;

}
ul,li,h1,h2,h3,h4,h5,h6{
    margin: 0;
    padding: 0;
}

/* BASE */

html{
    font-size: 62.5%;
    --color-blue : #0065FC;
    --color-black :#000000;
    --color-grey : #F2F2F2;
    --font-size : 16px;
}

body{
    font-family: Raleway;
    font-size: var(--font-size);
    background-color: #FFFFFF;
    
}

.container{
    max-width: 1440px;
    margin: auto;
    padding: 0 50px;
}

/* NAV */

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 27px 0 5px;
}

.logo_booki{
    height: auto; 
    width: 60px;  
}

.nav_lien{
    display: flex;
}

.nav_link{
    padding: 46px 28px;
    border-top: solid 2px transparent;
}
.hover_nav{
    color: black;
    display: inline-block;
    position: relative;
}

.hover_nav:hover{
    color: var(--color-blue);  
    border-top: solid 2px var(--color-blue);
}

.header_title{
    font-size: 22px;
    font-weight: 700;
} 

/* HEADER */

header{
    padding-left: 5px;
}
.sous_titre{
    padding: 8px 0 20px 0;
}
.flex_search{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.bordure_search{
    height: 49px;
    width: 412px;
    border-radius: 15px;
    border: 1px solid var(--color-grey);
}
.size_icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 49px;
    width: 50px;
    background-color: var(--color-grey);
    border-radius: 15px 0px 0px 15px;
}
::placeholder{
    color: var(--color-black);
    opacity: 1;
}
.no_outline:focus {
    outline: none;
  }
.search_input{
    height: 49px;
    width: 230px;
    font-size: 18px;
    height: 21px;
    font-weight: 700;
    padding-left: 17px;
   
}
.btn_rechercher{
    width: 132px;
    height: 49px;
    font-size: 18px;
    font-weight: 700;
    color: white;
    background-color: var(--color-blue);
    border-radius: 0px 15px 15px 0px;
    cursor: pointer;
}
.fa-solid{
    height: 18px;
    width: 14px;
    
}

@media screen and (max-width: 992px)and (min-width: 768px){

    .container{
        padding: 0 72px;
    }
    
    .nav_link{
        padding: 42px 28px;
    }
    

}

@media screen and (max-width: 768px){
    .container{
        padding: 0 20px;
    }
    nav{
        flex-direction: column;
        align-items: center;
    }
    img.logo_booki{
        margin: auto;
    }
    .nav_lien{
        display: flex;
        width: 100%;
    }
    .nav_lien>li{
        display: flex;
        width: 50%;
        justify-content: center;
    }
    .nav_lien{
        padding: 46px 0px;
    }
    .nav_link{
        padding: 23px 33px;
        border-top: none;
        border-bottom: solid 2px #F2F2F2;
       
    }
    .hover_nav:hover{
        color: var(--color-blue);  
        border-top: none;
        border-bottom: solid 2px var(--color-blue);
    }
}