/* RESET */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

ul,li,h1,h2,h3,h4,h5,h6{
    margin: 0;
    padding: 0;
}

/* BASE */

html{
    font-size: 62.5%;
    --color-blue : #0065FC;
}

body{
    font-family: Raleway;
    font-size: 16px;
    background-color: #FFFFFF;
    
}

.container{
    max-width: 1440px;
    margin: auto;
    padding: 0 50px;
}

/* NAV */

nav{
    display: flex;
    /* height: 110px; */
    align-items: center;
    justify-content: space-between;
}

.logo_booki{
    height: auto; 
    width: 60px;  
}

.nav_lien{
    display: flex;
}

.nav_link{
    padding: 46px 28px;
    border-top: solid 2px transparent;
}

.nav_hebergement{
    /* margin-right: 6.7rem;   */
}

.hover_nav{
    color: black;
    display: inline-block;
    position: relative;
}

.hover_nav:hover{
    color: var(--color-blue);  
    border-top: solid 2px var(--color-blue);
}

/* .nav_hebergement:hover::after, .nav_activite:hover::after {
    content: '';
    border-top: 2px solid var(--color-blue);
    width: 16.2rem;
    position: absolute;
    bottom: 6.5rem;
    display: block; 
    left: 50%;
    transform: translateX(-50%);
} */

.header_title{
    font-size: 22px;
    font-weight: 700;
} 

@media screen and (max-width: 992px)and (min-width: 768px){

    .container{
        margin-left: 7.2rem;
        margin-right: 7.2rem;
    }
    .nav_hebergement{
        margin-right: 6.8rem;  
    }
}

@media screen and (max-width: 768px){
    nav{
        flex-direction: column;
        align-items: center;
    }
    img.logo_booki{
        margin: auto;
    }
    .nav_lien{
        display: flex;
        width: 100%;
    }
    .nav_lien>li{
        display: flex;
        width: 50%;
        justify-content: center;
    }
    .nav_lien{
        padding: 46px 0px;
    }
   /* .container{ 
    margin: 0;
    margin-top: 2.1rem;  
    display: flex;
    flex-flow: column wrap;
    
   } */
   /* .logo_booki{
    margin: auto;

   } */
   /* .nav_lien{
    margin: auto;
    margin-top: 4.856rem;
    padding-right: 6.5rem;
    padding-left: 3.3rem;
   }
   .nav_hebergement{
    margin-right: 9.1rem;   
}
.nav_hebergement:hover::after, .nav_activite:hover::after{
    border-top: 3px solid var(--color-blue);
    width: 18.7rem;
    bottom: 0;
    top: 4rem; 
  }
  .header_title{
    margin-left: 2.2rem;
    margin-top: 5.7rem;
  } */
}